:root {
  --main-color: #8f95a5;
  --bg-button: #263238;
  --title-color: #000000;
  --logo-decor: #939393;
  --white-color: #fff;
  --bg-cart: #f5f5f5;
  --about-num: #2a3246;
  --price-color: #eeeeee;
  --gray-color: #546269;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-size: 20px;
  line-height: calc(54 / 36);
}

.container {
  max-width: 1378px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: var(--title-color);
}

/* header */

header {
  padding-top: 55px;
}

.logo {
  font-size: 36px;
  color: var(--title-color);
  margin-right: auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  margin-right: 131px;
}

.header-menu-item:not(:last-child) {
  margin-right: 50px;
}

.logo span {
  color: var(--logo-decor);
}

.menu-link {
  font-weight: 500;
  color: var(--bg-button);
}

.header-button {
  min-width: 312px;
  padding: 19px 55px;
  border: 2px solid #263238;
  border-radius: 10px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Hero */

.hero {
  padding-top: 101px;
  padding-bottom: 134px;
}

.hero-wrappper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-content {
  max-width: 540px;
}
.hero-title {
  font-weight: 600;
  font-size: 64px;
  line-height: calc(80 / 64);
  color: var(--title-color);
  margin-bottom: 57px;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 43px;
}

.hero-btn {
  min-width: 426px;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--bg-button);
  padding: 22px 63px;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Skills */

.skills {
  padding-bottom: 178px;
}

.skills-title {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: var(--title-color);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.skills-list__item {
  padding: 32px 18px;
  background-color: var(--bg-cart);
}

.skills-list__item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.skills-list__item:last-child {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: row-reverse;
}

.skills-list__img {
  margin-bottom: 24px;
}

.skills-list__item:last-child > img {
  margin-bottom: 0;
}

.skills-list__title {
  font-weight: 600;
  font-size: 30px;
  color: var(--bg-button);
  margin-bottom: 20px;
}

.skills-list__text {
  font-size: 16px;
  margin-bottom: 30px;
}

.skills-list__btn {
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--bg-button);
  padding: 15px 52px;
  padding-right: 51px;
  border-radius: 10px;
  min-width: 218px;
}

/* About */

.about {
  padding-bottom: 206px;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
}

.about-content {
  margin-right: 146px;
}

.about-title {
  margin-bottom: 60px;
}

.about-text {
  line-height: calc(36 / 20);
  margin-bottom: 30px;
}

.stats-list {
  display: flex;
  gap: 130px;
  justify-content: center;
  text-align: center;
}

.stats-list__item {
  max-width: 113px;
}

.stats-list__num {
  font-weight: 600;
  font-size: 48px;
  color: var(--about-num);
  margin-bottom: 6px;
}

/* Pricing */

.pricing {
  padding-bottom: 180px;
}

.pricing-title {
  margin-bottom: 100px;
  text-align: center;
}

.pricing-list {
  display: flex;
  gap: 30px;
}

.pricing-list__item {
  flex-basis: calc((100% - 60px) / 3);
  flex-basis: calc((100% - 2 * 30px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-box {
  height: 320px;
  margin-bottom: 33px;
}

.pricing-list-title {
  margin-bottom: 18px;
}

.pricing-text {
  margin-bottom: 30px;
}

.pricing-bottom {
  display: flex;
  align-items: center;
  max-width: 260px;
  justify-content: space-between;
  padding: 5px 23px;
  background-color: var(--price-color);
  margin-top: auto;
}

.pricing-price {
  font-size: 24px;
  color: var(--bg-button);
}

.pricing-period {
  font-size: 18px;
  color: var(--gray-color);
}

/* Contact */

.contact {
  padding-bottom: 55px;
}

.contact-title {
  margin-bottom: 60px;
}

.contact-wrapper {
  display: flex;
}

.contact-content {
  margin-left: auto;
  max-width: 767px;
}

.contact-text {
  margin-bottom: 32px;
}

.contact-btn {
  min-width: 312px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.03em;
  padding: 20px 56px;
  background-color: var(--bg-button);
  border-radius: 10px;
}

.footer {
  padding-bottom: 77px;
}

.footer-link {
  font-size: 24px;
  letter-spacing: 0.02em;
  padding: 5px 0;
}

.footer-wrapper {
  border-top: 1px solid #c4c4c4;
  display: flex;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list__item:not(:last-child) {
  margin-right: 80px;
}

.footer-link {
  padding-top: 22px;
  display: block;
}
